.topmenu {
  padding: 10px;
  text-align: center;
  background: #5599FF;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

#title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#slogan{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px
}

#button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px
}
#button3 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px
}
#button4 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px
}
#button5 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px
}