
#submit {
  background-color: #5599FF; 
  border: none;
  color:white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  font-weight:bold;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px
}
#question{
    color:#5599FF;
    font-family:'Roboto', sans-serif;
    font-size:35px;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {

}

[type=radio]:checked + img{
      background: url(/i/learnerselect.png) no-repeat;
}


.consoletext{

    font-family: 'Armata', sans-serif;
    color: #5599FF;
    font-size: 40px;
}
.smallconsole{

    font-family: 'Armata', sans-serif;
    color: #5599FF;
    font-size: 25px;
}