.topmenu {
  padding: 5px;
  text-align: center;
  background: white;
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.textareastyle{
    width: 500px;
    font-family: 'Armata', sans-serif;
    color: #706d6d;
    font-size: 16px;
}

#title{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #5599FF;
}
#img{
    width:279.99px;
    height:98.41px;
}
#slogan{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

div.sticky{
    position: -webkit-stickey;
    position: sticky;
    top: 0;
}

.fire{

    width: 5%;
    height: 5%;

}

    .button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  background-color: white;
  border: 2px solid #5599FF;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color:#5599FF;
  border-radius: 8px;

}

    .button:hover {
    background-color: #5599FF; /* Green */
    color:white;
}