<html>
    <head>
        <link rel = "stylesheet" href= "/i/styles.css">
    </head>
    <body>
        <div id = "topview">
            <h1> "{{handle}}"
            <a href = "/">Logout</a> <!-- could have to be changed according to the login status of the user-->
            <a href = "/edit-interests">Edit Interests</a>
            <a href = "edit-bio">Edit Bio</a>
            <img {{% profile-pic %}}>
            <h1>{name}<h2>
        </div>
            {% block content %}
            {% endblock %}
    </body>
</html>