{% extends "base.html" %}
{% block content %}
<head>
    <link rel = 'stylesheet' href = '/i/style-areyouor.css'
</head>
<h1 id = 'question' > Are you a... </h1>

<form action="/definition" method="POST">
<label class = 'container'><input type="radio" value="isLearner" name="defineStat">Learner<br><span class="checkmark"></span></label>
<label class = 'container'><input type="radio" value= "isExpert" name="defineStat">Expert<br><span class="checkmark"></span></label>

<input type="submit" id='submit' >
</form>

{% endblock %}