<html>
    <head>
        <link rel="stylesheet" href="/i/style-base.css">
    </head>
    <body>
        <div id = 'sticky'>
        <div class="topmenu">
            <center>

                <img src="/i/hyperlinklogo.png">


            </center>

            <a href = '/my-feed' ><button id = 'button1'>Home</button></a>
            {% if login_url %}
            <a href = "{{login_url}}"><button id='button2'>Login</button></a>
            {% else %}
            <a href = "{{logout_url}}"><button id='button3'>Logout</button></a>
            <a href = "/interests"><button id='button4'>Edit Interests</button></a>
            <a href = "/edit-profile-student"><button id='button5'>Edit Profile</button></a>
            {% endif %}
        </p>
        </div>
        </div>
        {% block content %}{% endblock %}
    </body>                  
</html>
