<html>
    <head>
        <link rel="stylesheet" href="/i/style-base.css">
    </head>
    <body>
        <div id = 'sticky'>
        <div class="topmenu">
            <center>

                <img id = 'img'src="/i/logotype.png">
            </center>
            <center>
            <p class="textareastyle"> H:\> Simple made simpler. </p>
            </center>

            <a href = '/my-feed' ><button class = 'button'>Home</button></a>
            {% if login_url %}
            <a href = "{{login_url}}"><button class='button'>Login</button></a>
            {% else %}
            <a href = "{{logout_url}}"><button class='button'>Logout</button></a>
            <a href = "/interests"><button class='button'>Edit Interests</button></a>
            <a href = "/edit-profile-student"><button class='button'>Edit Profile</button></a>
            {% endif %}

        </div>
        </div>
        {% block content %}{% endblock %}
    </body>                  
</html>
