<html>
    <header>

    </header>
    <body> 
        <h1>Create Profile</h1>
        <form method="post" action="/profile-save">
            Name:<br>
            <input type="text" name="name" value = "{{name}}"><br><br>
            Change Profile picture: 
            <input type="file" name="profile_picture" accept="image/*">
            Location:<br>
            <input type = "text" name = "location" value = "{{location}}"<br><br>
            Biography:<br>
            <textarea name="biography" rows="16">{{biography}}</textarea><br><br>
            <input type="submit">
</form>
    </body>
</html>