<html>
    <header>

    </header>
    <body> 
        <h1>Create Profile</h1>
        <form method="post"  action="/upload">
            Name:<br>
            <input type="text" name="name" value = "{{name}}"><br><br>
            Location:<br>

<script>
    
    $.get("https://ipinfo.io", function (response) {
    $("#address").html("Current Location: " + response.city + ", " + response.region +" (please, make sure your location is accurate.)");
$.post("/save-location",)

}, "jsonp");




</script>

            Biography:<br>
            <textarea name="biography" rows="16">{{biography}}</textarea><br><br>
            Upload Profile_picture:<br>
            <input type="file" name="profile_picture" accept="image/*">
            <input type="submit">

</form>
    </body>
</html>