{% extends "base.html" %}
{% block content %}
<head>
    <link rel = 'stylesheet' href = '/i/style-areyouor.css'>
    <link rel = 'stylesheet' href = '/i/style-main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Armata&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <br>
    <br>
    
<center>
    <h1 class ="consoletext">H:\> Hi. I am Hyperlink...</h1>

</center>

<div class="row">
  <div class="col-6">
      <br> 
      <center>
      <img src="/i/books.png" class="left">
      </center>
</div>
  <div class="col-6">    
      <br>
      <center>
          <br>
      <h4 class = "htextwhite">H:\> Who do you want to link to today?...</h4>
    <h2 class = "featurewhite"> Knowledge </h2>
    <h4 class = "subtitlewhite"> made simpler. </h4>
    <h2 class ="contentwhite">
        With so much information out there, it's easy to get lost.<br>
        Especially when starting to learn a new topic: did you know that<br>
        a search for "learn to code" throws about 5 billion results? Whew! <br>
        We introduce to you: Hyperlink. A tool for everyone and anyone inspired to <br>
        learn or teach how to code. Find tutors and events in your area tailored to your own interests.<br>
        Scroll down to see what our helpful link can do!.
        </h2>
    </center>
    </div>
</div>
<br>

<div class="row">

  <div class="col-6">    
      <br>
      <center>
          <br>
      <h4 class = "htextwhite">H:\> There are experts in your area!...</h4>
    <h2 class = "featurewhite"> Searching </h2>
    <h4 class = "subtitlewhite"> made simpler. </h4>
    <h2 class ="contentwhite">
        Finding knowledgeable people in your area can be a tough task.<br>
        Hyperlink automatically retrieves your device's location<br>
        ,so no matter how big or how small your town is,<br>
        it will find somewhere you can learn.<br>
        (Psst, it even works when you travel!).        
        </h2>
    </center>
    </div>
      <div class="col-6">
      <br> 
      <center>
      <img src="/i/geoloc.png" class="right">
      </center>
</div>
</div>
<br>
<div class="row">
  <div class="col-6">
      <br> 
      <center>
      <img src="/i/events.png" id="events">
      </center>
</div>
  <div class="col-6">    
      <br>
      <center>
          <br>
      <h4 class = "htextwhite">H:\> An expert has started an event in your area!...</h4>
    <h2 class = "featurewhite"> Learning </h2>
    <h4 class = "subtitlewhite"> made simpler. </h4>
    <h2 class ="contentwhite">
Lorem ipsum dolor sit amet...
        </h2>
    </center>
    </div>
</div>

<br>
<div class="row">

  <div class="col-6">    
      <br>
      <center>
          <br>
      <h4 class = "htextwhite">H:\> A user has requested a spot in your class!...</h4>
    <h2 class = "featurewhite"> Privacy </h2>
    <h4 class = "subtitlewhite"> made simpler. </h4>
    <h2 class ="contentwhite">
        Hyperlink works thanks to its users: the inspired learners and the amazing experts.<br>
        Naturally, protecting their privacy is our top-concern.<br>
        Hyperlink never reveals any sensitive information to any user,<br>
        for example, emails, addresses, credentials and other.
        </h2>
    </center>
    </div>
      <div class="col-6">
      <br> 
      <center>
      <img src="/i/privacy.png" class="right">
      </center>
</div>
</div>
<br>
<center>
    <h1 class ="consoletext"></h1>
    <h1 class ="consoletext">H:\> Let's get learning...</h1>
    <br>
</center>
    </body>
{% endblock %}
