{% extends "base.html" %}
{% block content %}
<h1>
   <img width="50vw" src="{{image_url}}"><br>
<body>
    {% if expert %}
    <h1>Create an event!</h1>
    <form id= "create_event" method="post" action="/create_event">
        <h2>Event name:</h2>
        <input type="text" name="name" value={{event_name}}>
        <h2>Event Date</h2>
        <input type="date" name="date">
        <h2>Event Description:</h2>
        <textarea name="description" rows="8">{{event_description}}</textarea><br>
        <input type="submit" value="Submit Event!">
        <p></p>
    <h1> Your Events!</h1>
    {% for event in events %}
    <h2>{{event.name}}</h2>
    {{event.date}}<br>
    {{event.description}}
    {% endfor %}

    {% else %}
        {% for available_expert in available_experts %}
        <a href="/p/{{available_expert.name}}">{{available_expert.name}}<br>
        {% endfor %}
    {% endif %}

</body>
{% endblock %}